/*
Theme Name: Adote um Lobinho
Author: Cael G. & Lucas C.
Description: Tema do trabalho anterior em wordpress
Version: 1
*/

@import 'style/reset.css';
@import 'style/header.css';
@import 'style/footer.css';


body {
    display: flex;
    flex-flow: column;

    font-family: 'Darker Grotesque', sans-serif;
    color: #ffffff;
    min-width: 100%;
    min-height: 100%;
}


/*=================ADOTE=====================*/
.container-adote{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 10em;

    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(#image-php-path);
    max-width: 100%;
}

.title{
    font-size: 6em;
    font-weight: 800;
    margin: 0.4em;
}

.bar-adote{
    background-color: #ffffff;
    width: 100px;
    height: 0.3em;
}

.description-title{
    font-size: 1.7em;
    max-width: 45ch;
    margin: 0.5em;
    text-align: center;
}

/*=================SOBRE=====================*/

.container-sobre{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
    background-color: #2C5680;

    padding: 2em;
}

h2{
    color: #DEB959;
    font-size: 3em;
    font-weight: bold;
    margin: 0.3em;
}

.about{
    font-size: 1.5em;
    text-align: center;
    max-width: 80ch;
    margin: 0.5em;
}

/*================VALORES===================*/
.container-valores{
    display: flex;
    flex-flow: column;
    align-items: center;

    background-color: #333333;
}

.values{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 100%;
}

.value{
    display: flex;
    flex-flow: column;
    align-items: center;

    margin: 1em;
}

.img-value{
    background-color: #ffffff;
    padding: 2em;
    
    /*O circulo corta um pedaço da imagem*/
    width: 10em;
    border-radius: 50%;
}
h3{
    font-size: 2.4em;
    font-weight: bold;
    margin: 0.3em;
}

.value-description{
    text-align: center;
    max-width: 18ch;
    font-size: 1.4em;
}

/*================LOBOS EXEMPLO===============*/
.container-lobos-exemplo{
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #333;
}

.example-wolf{
    display: flex;
    margin: 2em;
}

.wolf-image{
    max-width: 25em;
}

.wolf-info{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin: 2em;
}

.wolf-name{
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

.wolf-age{
    margin-bottom: 0.5em;
    font-weight: 300;
    font-size: 1.2em;
}

.wolf-description{
    max-width: 50ch;
}