.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #85CDF5;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em 3em;
}

.header-link, .header-link:visited{
    color: #333333;
    text-decoration: none;
}

.logo{
    height: 3.5em;
}

.black-rectangle{
    margin: 0.3em;
    background-color: #333;
    height: 0.16em;
    width: 60%;
    align-self: flex-end;
}
