body {
    display: flex;
    flex-flow: column;

    font-family: 'Darker Grotesque', sans-serif;
    color: #333;
    min-width: 100%;
    min-height: 100%;
}

h1{
    font-size: 2.5em;
    font-weight: bold;
    margin: 1.5em;
}

.container-submit{
    display: flex;
    justify-content: center;
    padding: 2em;
    background-color: #ffffff;
}

.container-form{
    display: flex;
    flex-flow: column;
    align-items: center;
    min-width: 40%;
    border: 3px solid;
    padding: 1em 0.5;
}

.adopt-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: 1 1 auto;
    
    margin-bottom: 1em;
}

label{
    font-size: 1.4em;
}

.container-name-n-age{
    display: flex;
    gap: 0.5em;
}

.label-above{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    max-width: 100%;
}

input[type=text]{
    background-color: #E6E6E6;
}

input[type=text], .label-above{
    width: 100%;
    margin: 0.3em;
}

#submit{
    align-self: center;
    border: 1px solid #333;
    background: none;
    box-shadow: none;
    border-radius: 0px;

    background-color: #2C5680;
    color: #fff;
    padding: 0.5em 1.75em;
}

#desc{
    height: 17ch;
}